@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select {
  font-family: "Courgette", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
